<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/ninja.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Hii, I am Soumya Chaudhary currently a B.Tech 3rd year IT student ,I have created this web application using Node JS and Express JS</p>
        <p>This app uses the data from weatherapi.com and mapbox.com</p>
        <img class="portrait" src="/img/me.jpg">
    </div>
    
    {{>footer}}
</body>

</html>